<title> Desktop Share Viewer</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

<body>
    <a href="javascript:;" id="share">共享屏幕</a>
</body>
<script>
    document.getElementById('share').addEventListener('click', function() {
        chrome.runtime.sendMessage('fopkoipbphbgncbodcdghahciodnddmg', {type: 'shareScreen', msg: 'test'},
        function(response) {
            console.log(response);
        });
    })
</script>
</html>